kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 7d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 20Gi
  alertmanager:
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Gi
  grafana:
    envFromSecret: grafana-oauth
    persistence:
      enabled: true
      type: sts
      storageClassName: longhorn
      accessModes:
        - ReadWriteOnce
      size: 2Gi
    extraConfigmapMounts:
      - name: grafana-alerting-provisioning
        mountPath: /etc/grafana/provisioning/alerting
        configMap: grafana-alerting-provisioning
        readOnly: true
    grafana.ini:
      server:
        root_url: https://grafana.k8s.magomago.moe
      auth:
        oauth_auto_login: false
        signout_redirect_url: https://authentik.k8s.magomago.moe/application/o/grafana/end-session/
      auth.generic_oauth:
        enabled: true
        name: Authentik
        allow_sign_up: true
        client_id: grafana
        client_secret: $__env{GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
        scopes: openid profile email groups
        auth_url: https://authentik.k8s.magomago.moe/application/o/authorize/
        token_url: https://authentik.k8s.magomago.moe/application/o/token/
        api_url: https://authentik.k8s.magomago.moe/application/o/userinfo/
        use_pkce: true
        use_refresh_token: true
        allow_assign_grafana_admin: true
        role_attribute_path: "contains(groups[*], 'platform-admins') && 'GrafanaAdmin' || contains(groups[*], 'grafana-admins') && 'GrafanaAdmin' || contains(groups[*], 'grafana-editors') && 'Editor' || 'Viewer'"
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
      hosts:
        - grafana.k8s.magomago.moe
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.k8s.magomago.moe
