{{- $datasources := .Files.Glob "grafana/datasources/*.yaml" -}}
{{- if $datasources -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  labels:
    grafana_datasource: "1"
    app.kubernetes.io/part-of: grafana
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
{{- range $path, $file := $datasources }}
  {{ base $path }}: |-
{{ $file | toString | nindent 4 }}
{{- end }}
{{- end }}

